body {
    font-family: @font-primary;
}

.col-center {
    float: none;
    margin: 0 auto;
}

.pointer {
    cursor: pointer;
}

.white-text {
    color: @color-white;

    &:hover {
        color: @color-white;
    }
}

.default-background {
    background: url("/Content/images/White-Gray-Background.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.title1 {
    font-family: @font-primary;
    font-size: 30px;
    color: @color-cloud-burst;
}

.title2 {
    font-family: @font-primary;
    font-size: 25px;
}

.validation {
    font-family: @font-primary;
    font-style: italic;
    font-size: 16px;
    color: @color-white;
}

.generalLabels {
    font-family: @font-primary;
    font-size: 17px;
    text-align:justify;
}
