<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
	<appSettings>
		<add key="Main.StringConexion" value="data source=JONATHAN\MSSQLSERVER2008;initial catalog=AsignacionAutomaticaCursos;integrated security=SSPI;persist security info=False;packet size=4096" />
	</appSettings>
</configuration>
