.homepage {

    h2{
        font-family: @font-medium;
        margin-bottom: 20px;
    }

    h3{
        font-family: @font-primary;
    }
    
    section:not(:first-child){
        padding-top: 30px;
    }

    input[type="text"]{
        margin-bottom: 1em;
        margin-left: auto;
        margin-right:auto;
    }

     .section-form{
         min-width: 320px;
         max-width: 450px;
     }
}