.section-form{
	padding: 2em 3em;
	margin: 2em auto;
	background-color: @color-form-background;
	position: relative;
    display: block;
	overflow: hidden;
	border-radius: 10px 10px 10px 10px;
	border: 0px solid @color-form-background;
}

.content-options {
    margin: 4em auto;
}

.multipage{
    padding: 4em 0;
    h3{
        color: @color-cloud-burst;
    }
}

.form-width{
	max-width: 750px;
	margin: 0 auto;
}
.row-centered {
	text-align:center;
    &.row{
        margin-bottom: 2em;
        &:last-child{
            margin-bottom:0;
        }
    }
}
.col-centered {
	display:inline-block;
	float:none;
	text-align:left;
	margin-right:-4px;
}
.col-min {
	min-width:220px;
}

select {
    max-width: 280px;
}

.lblForm
{
    font-family: @font-primary;
    font-size: 20px;
    color: @color-white;
}